body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#guess-input{display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
}
h1{text-align: center;
margin-top: 40px;}
#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #056aa0;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  button:active {
    transform: scale(0.95);
}
.letter {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    padding:3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block
}
   
.row{
    margin-bottom: 10px;
    margin-left: 537px;
    margin-top: 20px;

}
   
.input-area{
    margin: 30px;
}


